table, th {
    border: 1px green;
    text-align: right;
    overflow: scroll;
}

th {
    background-color: green;
    color: white;
    text-align: center;
}
.product_name{
	text-align: left;
}

.odd{
	background-color: cyan; 
}